@import "helpers/normalize";
@import "helpers/fonts";
@import "helpers/const";
@import "helpers/mixins";

body {
    font-family: "ProximaNova";
    font-weight: normal;
    font-size: 16px;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}

@media only screen and (min-width: 1025px) {
    .main-content {
        transform: translateY(0);
        transition: transform .5s ease-in-out;
    }
    .fullscreen {
        overflow-y: hidden;
    }

}

@import "components/header";
@import "components/hero";
@import "components/products";
@import "components/guality";
@import "components/about-v";
@import "components/about";
@import "components/footer";
@import "components/nav";